.navbar {
    height: 7rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar__heading {
    font-size: 2.7rem;
    color: rgba(0,0,0, 0.6);
    margin-left: 4rem;
    margin-right: 5rem;
}

.navbar__list {
    display: flex;
    gap: 5rem;
    margin-right: auto;
}

.navbar__action-btn {
    margin-right: 4rem;
    display: flex;
    gap: 1rem;
}

.login--button {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 7px;
    background-color: transparent;
    color: #9850ff;
    font-weight: 550;
    cursor: pointer;
}


.signup--button {
    border: 1px solid #9850ff;
    padding: 1rem;
    background-color: #9850ff;
    border-radius: 7px;
    color: #fff;
    font-weight: 550;
    cursor: pointer;
}